.search {
   
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    padding-top: 200px;
    height: 270vh;
    background-color: #d4d4d4;
    overflow-y: auto;  /* Allows vertical scrolling */
    max-height: calc(120vh - 250px);  /* Adjusts max height based on viewport height and some offset */
    
}


.upWrapper{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



.search_bar {
    width: 400px;
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 20px;
    margin-bottom: 0px;
    transition: box-shadow 0.3s ease-in-out, border 0.3s ease-in-out;
}
.searchBar_ascending{
    display: flex;
    flex-direction: row;
}
/* Styles for Sort Order Button */
.sort_order_button {
    background-color: #fff; /* white background */
    color: #000000; /* text color */
    border: 1px solid #d4d4d4; /* blue border */
    border-radius: 25px;
    padding: 10px 18px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, transform 0.2s ease-in-out; /* added transform to the transition */
    margin-left: 3px; /* some space between the input and the button */
    outline: none; /* remove default focus outline */
}

.sort_order_button:hover {
    background-color: #757677; /* blue on hover */
    color: #fff; /* text becomes white on hover */
    transform: scale(1.05); /* scale button to 105% its original size */
}

.sort_order_button:active {
    transform: scale(1); /* scale button back to its original size on active */
}
.season_input{
    width: 70px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #d4d4d4; /* blue border */
    
}

.filterwrapper {
    display: flex;
    flex-direction: row;
    align-items: center;   /* Ensures all items are vertically centered */
    justify-content: flex-end; /* Space out the items evenly */
    width: 100%;   /* Utilize full available width */
    gap: 10px;     /* Add a gap between flex items */
}

.sort_dropdown{
    width: 180px; /* match the width */
    height: 30px; /* for consistency */
    border-radius: 5px; /* match the border-radius */
    border: 1px solid #d4d4d4; /* match the border style and color */
    padding: 0 10px; /* some padding for the content */
    background-color: #fff; /* white background */
    font-size: 16px; /* consistent font size */
    color: #000; /* text color */
}


.list {
    list-style-type: none;
    padding: 0;
    width: 320px;
}

.listItem {
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-top: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.listItem:first-child {
    border-top: 1px solid #ddd;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.listItem:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.listItem:hover {
    background-color: #f7f7f7;
}

.filterwrapper {
    display: flex;
    justify-content: flex-end;
}

.sort_teamOpt{
    width: 180px; /* match the width */
    height: 30px; /* for consistency */
    border-radius: 5px; /* match the border-radius */
    border: 1px solid #d4d4d4; /* match the border style and color */
    padding: 0 10px; /* some padding for the content */
    background-color: #fff; /* white background */
    font-size: 16px; /* consistent font size */
    color: #000; /* text color */
}
